<!-- button for opening the search bar -->
<li class="list-inline-item">
  <a
    class="text-green nav-link d-block d-lg-none"
    href="#"
    id="mobile-search"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
    aria-label="Search button"
  >
    <div class="text-center">
      <div><i class="fas fa-search fa-lg"></i></div>
      <p class="my-0">Search</p>
    </div>
  </a>
  <div
    class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0"
    aria-labelledby="mobile-search"
  ></div>
</li>

<!-- button for opening the my account dropdown menu -->
<li class="list-inline-item dropdown">
  <a
    class="text-white nav-link d-block d-lg-none"
    href="#"
    id="user-options"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
    aria-label="Link to user account"
  >
    <div class="text-center">
      <div><i class="fas fa-user fa-lg text-green"></i></div>
      <p class="my-0 text-green">My Account</p>
    </div>
  </a>
  <div class="dropdown-menu border-0" aria-labelledby="user-options"></div>
</li>

<!-- button for accessing the shopping cart -->
<li class="list-inline-item">
  <a
    class="{% if grand_total %}text-primary font-weight-bold{% else %}text-black{% endif %} nav-link d-block d-lg-none"
    href="#"
    aria-label="Link to shopping cart"
  >
    <div class="text-center">
      <div><i class="fa-solid fa-cart-shopping text-green"></i></div>
      <p class="my-0 text-green">
        {% if grand_total %} CHF {{ grand_total|floatformat:2 }} {% else %} CHF
        0.00 {% endif %}
      </p>
    </div>
  </a>
</li>
