.order-history {
  max-height: 416px; /* height of profile form + submit button */
  overflow-y: auto;
}

#profile-update-form .form-control {
  color: var(--color-charcoal);
}

#profile-update-form input::placeholder {
  color: #aab7c4;
}
