{% if widget.is_initial %}
  <p class="mb-2">{{ widget.initial_text }}:</p>
  <a href="{{ widget.value.url }}">
    <img width="96" height="96" class="rounded shadow-sm mb-2" src="{{ widget.value.url }}" alt="Current product image">
  </a>
  {% if not widget.required %}
    <div class="form-check mt-2">
      <input class="form-check-input" type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">
      <label class="form-check-label text-danger"
        for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>
    </div>
  {% endif %}
  <p class="small text-muted mt-2 mb-2">{{ widget.input_text }}</p>
{% endif %}
<span class="btn btn-custom btn-file">
  Select Image <input id="new-image" type="{{ widget.type }}" name="{{ widget.name }}"
                {% include "django/forms/widgets/attrs.html" %}>
</span>
<p class="text-danger mt-2 mb-0" id="filename"></p>
